.wrapper {
    padding: 24px 0 64px 0;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: #f2f4f8;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    padding-left: 15px;
    padding-right: 15px;
}

.header-slogan {
    margin-right: 80px;
}

.header-slogan,
.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #292929;
}

.header-item:nth-child(1) {
    margin-right: 80px;
    padding: 8px 16px;
    cursor: pointer;
}

.header-item:nth-child(2) {
    padding: 8px 0;
    color: var(--red);
    border-bottom: 3px solid var(--red);
    cursor: pointer;
}

.header-list {
    list-style: none;
    display: flex;
}

.content {
    padding: 16px 0;
    display: flex;
}

.more-btn {
    padding-top: 16px;
}

.more {
    color: #fff;
    background-color: #0078ae;
    border: none;
    cursor: pointer;
    padding: 11px 16px;
    font-weight: 800;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1.5;

    &:hover {
        color: #fff;
        background-color: #005e88;
        border-color: #00557b;
    }
}
