.wrapper {
    padding-top: var(--height-header);
    margin: 0 auto;
    width: 960px;
}

.navbar {
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: #f1f4f8;
}

.navbar_item {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    padding: 16px 24px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

@media only screen and (max-width: 46.1875em) {
    .navbar {
        overflow: auto;
        white-space: nowrap;

        &::-webkit-scrollbar {
            display: none;
        }
    }
    .wrapper {
        width: 100%;
        padding-top: 48px;
    }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .wrapper {
        width: 100%;
    }
}
