.wrapper {
    overflow: auto;
    flex-grow: 1;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 24px 0;
}

.product_list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.item {
    width: 100%;
}

@media only screen and (max-width: 46.1875em) {
    .product_list {
        display: flex;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}

@media only screen and (min-width: 64em) {
}
