.wrapper {
    width: 100%;
    height: 245px;
    background-image: url('https://dominos.vn/img/bg/deep-see.png');
    background-size: cover;
    position: relative;
}

.small {
    height: 244px;
    .container {
        min-width: 655px;
    }
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 726px;
}

.label {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 0;
}

.label-item {
    border-color: #717273;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid #717273;
    border-bottom: none;
    padding: 8px 32px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.active {
    margin-bottom: calc(-8px - 1px);
    padding: 16px 32px;
    height: 56px;
    background-color: #fff;
    color: #e31837;
}

.label-item:nth-child(1) {
    margin-right: 25px;
}

.wrapper-from {
    padding: 8px;
    border: 1px solid #717273;
    border-radius: 16px;
}

.form {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 3.2rem;
    background: #fdedef;
    width: 100%;
}

.wrapper-content {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 24px 8px 24px;
}

.input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0;
    padding: 12px 40px 12px 10px;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    flex: 1;

    &:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
}

.input:not(:placeholder-shown) ~ .icon,
.input:not(:placeholder-shown) ~ .close_btn {
    opacity: 1;
}

.icon {
    background-color: #0078ae;
    opacity: 0.4;
    padding: 15px 16px;
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0 !important;
    border: none;
    cursor: pointer;
    color: var(--white);
}

.close_btn {
    cursor: pointer;
    margin-left: -52px;
    padding: 15px 20px;
    opacity: 0;
}

@media only screen and (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none;
    }
    .wrapper {
        height: 170px;
        background-image: none;
    }
    .container {
        width: 100%;
    }
    .wrapper-from,
    .form {
        border-radius: 0;
        border: none;
    }
    .label-item {
        color: #495057;
        border: 0;
    }
    .wrapper-content {
        margin: 0;
    }
    .small {
        .container {
            min-width: 0;
        }
    }
    .active {
        color: #e31837;
        margin-bottom: 0px;
        padding: 15px 0px;
        border-bottom: 2px solid #e31837;
        background-color: transparent;
    }
    .label-item {
        padding: 15px 0px;
    }
}
