.wrapper {
    padding-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://dominos.vn/img/bg/black-zone.png');
    background-position: center;
}

.container {
    padding: 80px 0;
}
