.wrapper {
    justify-content: center;
}

.title {
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.6rem;
    margin-bottom: 18px;
}

.description {
    color: #25282d;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.btn {
    margin-bottom: 30px;
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .wrapper {
        padding-top: 66px;
    }
}
